{% extends 'base.html' %}

{% block head %}
    <title>Sjaandi</title>
    {{ dropzone.load_css() }}
{% endblock head %}

{% block body %}

    <div class="jumbotron">
        <h2>
            Sjaandi
            <small class="text-muted">AI-Powered Collage Maker</small>
        </h2>
        <div>
            <p>
                Unleash the power of neural nets to create awesome collages. Visually similar images will be located
                close to each other. See examples and technical details <a href="https://github.com/pechyonkin/sjaandi#sjaandi--">here</a>.
            </p>
            <ul class="list">
                <li>Select images and click "Upload".</li>
                <li>Up to {{ max_images }} images can be uploaded.</li>
                <li>Image size up to {{ max_file_size }} MB.</li>
            </ul>
        </div>
        <div class="zone">
            {{ dropzone.create(action='/') }}
        </div>
        <button id="upload" class="btn btn-primary btn-lg" type="submit">Upload</button>
    </div>

    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_options="acceptedFiles: 'image/*', resizeWidth:160, resizeHeight:160,") }}
    {#    <div>#}
    {#        <h1>Unique identifier: {{ user_id }}</h1>#}
    {#    </div>#}

{% endblock body %}